name: build

on:
  push:
    branches:
      - main

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install shellcheck
      - run: shellcheck aliases exports

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install rcm
      - run: env RCRC=./rcrc rcup
      - run: |-
          for file in $(lsrc | awk -F':' '{print $1}'); do
            if [[ "$file" =~ "README.md" ]]; then
              # Print an error message to standard error (>&2)
              echo "Error: $file is present but wasn't expected." >&2
              exit 1
            fi
          done

  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install hyperfine zsh
      - run: cp github_token.example github_token
      - run: ln -fs zshrc ~/.zshrc
      - run: hyperfine --prepare 'sync; echo 3 | sudo tee /proc/sys/vm/drop_caches' '/bin/zsh -il -c exit'
