name: build

on:
  push:
    branches:
      - main

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install shellcheck
      - run: shellcheck aliases exports

  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: sudo apt-get update
      - run: sudo apt-get install hyperfine zsh
      - run: cp github_token.example github_token
      - run: ln -fs zshrc ~/.zshrc
      - run: hyperfine --prepare 'sync; echo 3 | sudo tee /proc/sys/vm/drop_caches' '/bin/zsh -il -c exit'
